/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    min-height: 200vh;
    overflow: hidden;
    background: linear-gradient(#fab1a0, #ff7675);
}

.card {
    position: relative;
    width: 100%;
}

.card .image {
    /* border-style: solid;
    border-width: 10px;
    border-color: rgb(223, 249, 251);
    position: absolute;
    width: 100%;
    height: 100%; */
    /* left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    top: 50%; */
    position: sticky;
    width: 100%;
    height: 100vh;
    background: #000;
}   

.card .image:nth-child(1) {
    background: url('images/page2.png');
    background-size: cover;
}

@media only screen and (max-width: 500px) {
    .card img {
        border-style: solid;
        border-width: 10px;
        border-color: rgb(223, 249, 251);
        left: 50%;
        margin-top: -100px;
        margin-left: -150px;
        position: absolute;
        top: 50%;
        width: 400px;
        /* width: 85%;
        height: 85%;
        margin: 1% 7% 0;
        position: absolute; */
    }   

    body {
        min-height: 200vh;
        overflow: hidden;
        background: linear-gradient(rgb(250, 177, 160), rgb(255, 118, 117));
    }
}
/* ====== */
.card .image{
    border-style: solid;
    border-width: 10px;
    border-color: rgb(223, 249, 251);
    left: 50%;
    top: 50%;
    /* margin-top: -100px;
    margin-left: -150px; */
    position: absolute;
    width: 400px;
    /* width: 100%;
    height: 100%; */
}   

.card {
    position: relative;
    width: 100%;
    display: grid;
}    

body {
    /* min-height: 200vh;
    overflow: hidden;
    background: linear-gradient(rgb(250, 177, 160), rgb(255, 118, 117)); */
    margin: 0;
    padding: 0;
}

.card .image:nth-child(1) {
    background-size: cover;   
    background: url('../images/test1.png') no-repeat center fixed; 
}
.card .image:nth-child(2) {
    background-size: cover; 
    background: url('../images/test2.png') no-repeat center fixed;
}
.card .image:nth-child(3) {
    background-size: cover; 
    background: url('../images/test3.png') no-repeat center fixed;
}
.card .image:nth-child(4) {
    background-size: cover; 
    background: url('../images/test4.png') no-repeat center fixed;
}
.card .image:nth-child(5) {
    background-size: cover; 
    background: url('../images/test5.png') no-repeat center fixed;
}
.card .image:nth-child(6) {
    background-size: cover; 
    background: url('../images/test6.png') no-repeat center fixed;
}
.card .image:nth-child(7) {
    background-size: cover; 
    background: url('../images/test7.png') no-repeat center fixed;
}
.card .image:nth-child(8) {
    background-size: cover; 
    background: url('../images/test8.png') no-repeat center fixed;
}
.card .image:nth-child(9) {
    background-size: cover; 
    background: url('../images/test9.png') no-repeat center fixed;
}
.card .image:nth-child(10) {
    background-size: cover; 
    background: url('../images/test10.png') no-repeat center fixed;
}



