*{
    margin: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 500px) {
    .card img {
        border-style: solid;
        border-width: 10px;
        border-color: azure;
        left: 50%;
        margin-top: -100px;
        margin-left: -150px;
        position: absolute;
        top: 50%;
        width: 300px;
    }   

    body {
        min-height: 100vh;
        overflow: hidden;
        background: linear-gradient(#fab1a0, #ff7675);
    }
}

body {
    min-height: 200vh;
    overflow: hidden;
    background: linear-gradient(#fab1a0, #ff7675);
}
