body {
    margin: 0;
    padding: 0;    
}

.card {
    position: relative;
    width: 100%;
}

.card .image {
    position: sticky;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card .image:nth-child(1) {
    background-image: url('../images/test1.png');   
}
.card .image:nth-child(2) {
    background-image: url('../images/test2.png');
}
.card .image:nth-child(3) {
    background-image: url('../images/test3.png');
}
.card .image:nth-child(4) {
    background-image: url('../images/test4.png');
}
.card .image:nth-child(5) {
    background-image: url('../images/test5.png'); 
}
.card .image:nth-child(6) {
    background-image: url('../images/test6.png'); 
}
.card .image:nth-child(7) {
    background-image: url('../images/test7.png'); 
}
.card .image:nth-child(8) {
    background-image: url('../images/test8.png'); 
}
.card .image:nth-child(9) {
    background-image: url('../images/test9.png'); 
}
.card .image:nth-child(10) {
    background-image: url('../images/test10.png'); 
}

@media only screen and (max-width: 500px) {
    .image {
        background-size: 450px !important;
    }
}