.card{
    background: white;
    border-radius: 4px;
    height: 85vh;
    width: 150vh;
}

.card img{
    height: 85vh;
    width: 150vh;
}

body{
    background: #E17EB3 ;
    display: grid;
    place-items: center;
    margin: 0;
    height: 100vh;
}