.card img {
    width: 50%;
    border-style: solid;
    border-width: 10px;
    border-color: azure;
    display: block;
    margin: 75px auto;
}

body {
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(#fab1a0, #ff7675);
}